<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Request</title>
    </head>
    <body>
        <center>
        <h1>Request A Game</h1>
            <p>Put the name of the game and at least one website where the game can be found, Internet Archive preferred</p>
        <form method="post" action="{{ request.path }}">
            <input type="text" name="gameName" placeholder="Game Name"><br>
            <input type="text" name="source" placeholder="Source"><br>
            <input type="submit" value="Submit">
        </form>
        </center>
    </body>
</html>